/* Global */

.navbar {
    border-radius: 0;
}

.pagination {
    margin: 0;
}

pre {
  margin: 5px 0;
  padding: 5px;
  white-space: pre-wrap;
}

/* Status Colors */

.waiting {
    color: cornflowerblue;
}

.queued {
    color: blueviolet;
}

.running {
    color: darkblue;
}

.succeeded {
    color: forestgreen;
}

.failed {
    color: darkred;
}

/* WorkflowDetailGraph */

g.node rect {
    stroke: #333;
    fill: #fff
}

g.edgePath path {
    stroke: #333;
    fill: #333;
    stroke-width: 1px;
}
