/* Global */

.navbar {
    border-radius: 0;
}

.pagination {
    margin: 0;
}

/* Status Colors */

.waiting {
    background-color: ghostwhite;
}

.queued {
    background-color: lightyellow;
}

.running {
    background-color: yellow;
}

.succeeded {
    background-color: forestgreen;
}

.failed {
    background-color: red;
}

/* WorkflowDetailGraph */

g.node rect {
    stroke: #333;
    fill: #fff
}

g.edgePath path {
    stroke: #333;
    fill: #333;
    stroke-width: 1px;
}